* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

footer .footer-divs .foot-div-content, .site-pages ul, main .carousel .dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-divs .foot-div-content li, .site-pages ul li, main .carousel .dots li {
  margin: 8px 15px;
}

.site-pages ul li a {
  color: black;
  text-decoration: none;
}

.categories .best-deals h2, .categories .just-arrived h2, .categories .trending-now h2, .men-page .men-page-products .best-deals h2, .categories .most-popular h2 {
  text-align: center;
  padding: 0 0 55px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.categories .best-deals .deals-cards .deal:hover, .categories .just-arrived .deals-cards .deal:hover, .categories .trending-now .deals-cards .deal:hover, .men-page .men-page-products .best-deals .deals-cards .deal:hover {
  -webkit-box-shadow: 0 0 10px rgba(43, 69, 83, 0.25);
          box-shadow: 0 0 10px rgba(43, 69, 83, 0.25);
  background: #fff;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.categories .categories-footer, .categories-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
  margin-bottom: 50px;
  background: #f6f6f6;
}

.categories-footer .feat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories-footer .feat .feat-icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

footer {
  position: relative;
  background-color: #222;
  color: #eee;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 3fr 1fr;
      grid-template-rows: 3fr 1fr;
  padding: 20px;
  margin-top: -50px;
}

footer .footer-divs {
  margin: 20px;
}

footer .footer-divs .foot-div-header {
  color: #9e9e9e;
  font-weight: bolder;
}

footer .footer-divs .foot-div-content {
  display: block;
}

footer .footer-divs .foot-div-content li {
  cursor: pointer;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}

footer .footer-divs .foot-div-content li:hover {
  color: #9e9e9e;
}

footer blockquote {
  margin: auto;
  font-size: .8em;
  position: absolute;
  bottom: 50px;
  left: 40vw;
}

.categories .best-deals, .categories .just-arrived, .categories .trending-now, .men-page .men-page-products .best-deals {
  margin-top: 120px;
  padding: 50px !important;
}

.categories .best-deals .deals-cards, .categories .just-arrived .deals-cards, .categories .trending-now .deals-cards, .men-page .men-page-products .best-deals .deals-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 3fr;
      grid-template-rows: 3fr;
  margin: -10px 30px;
}

.categories .best-deals .deals-cards .deal, .categories .just-arrived .deals-cards .deal, .categories .trending-now .deals-cards .deal, .men-page .men-page-products .best-deals .deals-cards .deal {
  margin: 0px 10px;
  padding: 10px;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.categories .best-deals .deals-cards .deal .deal-img img, .categories .just-arrived .deals-cards .deal .deal-img img, .categories .trending-now .deals-cards .deal .deal-img img, .men-page .men-page-products .best-deals .deals-cards .deal .deal-img img {
  width: 100%;
  height: 300px;
}

.categories .best-deals .deals-cards .deal .deal-description, .categories .just-arrived .deals-cards .deal .deal-description, .categories .trending-now .deals-cards .deal .deal-description, .men-page .men-page-products .best-deals .deals-cards .deal .deal-description {
  line-height: 1.7rem;
  color: #444;
}

.categories .best-deals .deals-cards .deal .deal-description .deal-rate, .categories .just-arrived .deals-cards .deal .deal-description .deal-rate, .categories .trending-now .deals-cards .deal .deal-description .deal-rate, .men-page .men-page-products .best-deals .deals-cards .deal .deal-description .deal-rate {
  line-height: 2.2rem;
}

.categories .best-deals .deals-cards .deal .deal-description .deal-prize, .categories .just-arrived .deals-cards .deal .deal-description .deal-prize, .categories .trending-now .deals-cards .deal .deal-description .deal-prize, .men-page .men-page-products .best-deals .deals-cards .deal .deal-description .deal-prize {
  font-weight: bolder;
  font-size: 1.3em;
  line-height: 2rem;
}

.categories .best-deals .deals-cards .deal .deal-description .old-prize, .categories .just-arrived .deals-cards .deal .deal-description .old-prize, .categories .trending-now .deals-cards .deal .deal-description .old-prize, .men-page .men-page-products .best-deals .deals-cards .deal .deal-description .old-prize {
  font-weight: 100;
  color: #adadad;
  text-decoration: line-through;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo img {
  width: 130px;
  height: 60px;
}

nav .search {
  width: 25vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .search input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
}

nav .search input[type="text"]::-webkit-input-placeholder {
  color: silver;
}

nav .search input[type="text"]:-ms-input-placeholder {
  color: silver;
}

nav .search input[type="text"]::-ms-input-placeholder {
  color: silver;
}

nav .search input[type="text"]::placeholder {
  color: silver;
}

nav .search button {
  right: 8px;
  background: transparent;
  border: none;
  text-align: center;
  position: absolute;
  font-size: 20px;
  color: silver;
}

nav .log-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .log-cart .log-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 35px;
  font-weight: bold;
  cursor: pointer;
}

nav .log-cart .log-in img {
  padding: 5px;
}

nav .log-cart .cart {
  cursor: pointer;
}

.site-pages {
  background: #2A7FE7;
}

.site-pages ul li {
  cursor: pointer;
}

.site-pages ul li a {
  color: #fafafa;
}

.site-pages ul li a:hover {
  text-decoration: underline;
  color: #e6e6e6;
}

main .carousel {
  position: relative;
}

main .carousel .image {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .carousel .image p {
  padding: 20px;
  position: absolute;
  z-index: 44444;
  top: 150px;
  left: 70px;
  font-size: 2.2rem;
  color: black;
  background: rgba(196, 195, 195, 0.623);
}

main .carousel .image p button {
  padding: 10px 33px;
  margin-top: 20px;
  font-size: 1.7rem;
  background: #F53B3B !important;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

main .carousel .image img {
  width: 100%;
  position: relative;
}

main .carousel .image img.one {
  z-index: 9;
}

main .carousel .dots {
  position: absolute;
  bottom: 20px;
  left: 45%;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .carousel .dots li {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: rgba(39, 39, 39, 0.575);
  border-radius: 50%;
}

main .carousel .dots li:hover {
  background: rgba(39, 39, 39, 0.247);
}

.categories {
  margin: 50px 0px;
}

.categories .most-popular .categories-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories .most-popular .categories-images .category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 35px;
  cursor: pointer;
}

.categories .most-popular .categories-images .category::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 999999;
  opacity: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  background: rgba(0, 0, 0, 0.3);
}

.categories .most-popular .categories-images .category:hover::after {
  opacity: 1;
}

.categories .just-arrived {
  padding: 30px;
  margin-bottom: 0px;
  background-color: #f6f6f6;
}

.categories .trending-now {
  margin-top: 30px;
  margin-bottom: 50px;
}

.men-page {
  position: relative;
}

.men-page .page-header {
  text-align: center;
  margin-top: 70px;
  font-size: 2.2rem;
}

.men-page .page-header #items-number {
  font-size: 1rem;
}

.men-page .men-page-products .sorting {
  position: absolute;
  top: 130px;
  right: 20px;
  font-size: 1rem;
}

.men-page .men-page-products .sorting select {
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  color: #555;
  outline: none;
  width: 200px;
}

.categories-footer {
  position: relative;
}
/*# sourceMappingURL=hompage.css.map */